:root {
    --mant-green: #40C057;
    --mant-green-dark: #37B24D;
    --mant-light: #F8F9FA;
}

#list-panel {
    padding: 20px;
    background-color: var(--mant-light);
}

.list-item {
    cursor: pointer;
    user-select: none;
}

.active, .active:hover {
    background-color: var(--mant-green);
    color: white;
}

.trash {
    padding: 5px;
}

#edit-panel {
    padding: 10px;
}

#edit-area {
    padding-right: 20px;
}

.fieldset-legend {
    width: 100%;
}

#card-preview {
    color: black;
    width: 200px;
    height: 280px;
    border-radius: 20px;
    font-size: 130%;
    user-select: none;
}