:root {
    --mant-green: #40C057;
    --mant-green-dark: #37B24D;
}

#main-view {
    padding: 20px
}

.list-item {
    cursor: pointer;
    user-select: none;
}

.active, .active:hover {
    background-color: var(--mant-green);
    color: white;
}

.trash {
    padding: 5px;
}

#edit-area {
    padding-right: 20px;
}

.fieldset-legend {
    width: 100%;
}